.footer1 {
  margin-top: 30px;
}
.f1para1 {
  line-height: 0.8;
}
#f1img1 {
  height: 50px;
  width: 80px;
}

.f1td {
  font-size: 12px;
}
.f1stars {
  font-size: 20px;
  opacity: 0.5;
}

.f1h2 {
  margin-bottom: 0px;
}
.f1no1 {
  font-size: 35px;
  font-weight: 600;
}
.f1text1 {
  font-size: 22px;
}
.footer1 {
  display: flex;
  justify-content: space-evenly;
}
.f1table1 {
  margin-top: 0px;
}
.f1vertical1 {
  border-left: 4px solid gray;
  height: 37px;
  opacity: 0.4;
  margin-top: 20px;
  margin-left: 100px;
}
