nav {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
}
.navul {
  display: flex;
}
.navli {
  text-decoration: none;
  list-style: none;
  padding: 0px 40px;
}
.navul .navli a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
nav div #logo {
  height: 50px;
}
.button1 {
  height: 40px;
  width: 100px;
  border-radius: 5px;
  background-color: black;
  color: whitesmoke;
}
